{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <br>
    <br>
    <div class="title-profile">
        <a>Nom profile :</a>
    </div>
    <div class="gender-container">
        <div class="title-gender-container"> <a>Genres plus regardé :</a> </div>

    </div>
    <div class="info-profile">
        <div class="text-profile">
            <br>
            <a>Pseudo</a><a style="margin-left: 150px"><a>Ville</a>,<a>Pays</a></a>
            <br>
            <a>Genre</a><a style="margin-left: 160px"><a>Âge</a></a>
            <br>
            <br>
            <a>Jours total :</a>
            <br>
            <a>Anime regardé :</a><a style="margin-left: 85px"><a>Anime fini :</a></a>
            <br><br>
            <a>Anime noté :</a><a style="margin-left: 110px"><a>Moyenne de note :</a></a>
        </div>
    </div>
    <div class="title-reco-container"> Top 5 recommendations :</div>
    <div class="recommendation-container">

        <a></a>

    </div>

{% endblock %}
