{% extends 'base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block body %}
    <div class="formulaire-popup-container">
        <div class="title-popup-container">
            <h1>Nom d'utilisateur</h1>
        </div>

        {{ form_start(form) }}

        {{ form_end(form) }}
    </div>
{% endblock %}