{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
{#  <h1 class="mt-3 text-center">Accueil</h1>#}
    <div class="scrolling-image-container">
        <img src="{{ asset('/assets/img/image_bg/all_image.svg') }}"  class="scrolling-image"/>
        <img src="{{ asset('/assets/img/image_bg/all_image.svg') }}"  class="scrolling-image"/>
    </div>
    <div class="menu-container">
        <img src="{{ asset('/assets/img/crunch_roll_logo.png') }}" alt="Image">
        <br>
        <br>
        <div class="container d-flex justify-content-center">


            <div class="input-group col-sm-7  input-group-lg">
                <div class="input-group-prepend">
                    <span class="input-group-text magnifying-glass"><img src="https://img.icons8.com/?size=20&id=7695&format=png&color=000000"></span>
                </div>
                <input type="text" class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text left"></span>
                </div>
            </div>


        </div>
    </div>








{% endblock %}
