{% extends 'base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block body %}
    <h1>Liste des Genres Uniques</h1>
    <ul>
        {% for genre in genres %}
            <li>{{ genre }}</li>
        {% endfor %}
    </ul>

    <div>
        <canvas id="genre" width="400" height="100"></canvas>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        {# fonction verifiant que le genre existe et est chargé #}
        document.addEventListener("DOMContentLoaded", function() {
            const genre = document.getElementById('genre');

            if (genre) {
                let graph = new Chart(genre, {
                    type: 'bar',
                    data: {
                        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                        datasets: [{
                            label: 'genre regarder',
                            data: [12, 19, 3, 5, 2, 3],
                            borderWidth: 1,
                            backgroundColor : ["red", "blue"]
                        }]
                    }
                });
            } else {
                console.error("L'élément canvas avec l'ID 'genre' est introuvable.");
            }
        });
    </script>
{% endblock %}
