
body {
    background-color: #D2D9F9;
}


/*scrolling image*/
.scrolling-image-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    rotate: 45deg;
    left: 350px;
    top: -400px;
    opacity: 50%;
}

.scrolling-image {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    animation: scrollDown 20s linear infinite;
}

@keyframes scrollDown {
    0% {
        top: -2025px;
    }
    100% {
        top: 1700px;
    }
}

.scrolling-image:nth-child(2) {
    animation-delay: 10s;
    top: -1800px;
}

.menu-container{
    position: fixed;
    z-index: 1;
    left: 37%;
    top: 30%;
}


/*search bar*/
.left{

    border-top-right-radius: 32px !important;
    border-bottom-right-radius: 32px !important;
    background-color: #fff;
    height: 33px;
}



.magnifying-glass{

    border-top-left-radius: 32px !important;
    border-bottom-left-radius: 32px !important;
    background-color: #fff;

}

.input-group-prepend {
    margin-right: -2px !important;
}


.input-group-append {
    margin-left: -2px !important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ced4da;
    outline: 0;
    box-shadow: 0 0 0 0 !important;

}

.form-control{

    border-right: 0 !important;
    border-left: 0 !important;
    height: 33px;
}







