@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Joti+One&display=swap');


body {
    background-color: #D2D9F9;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #B5B7BC;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #D3CCFF;
    border-radius: 10px;
}



/*scrolling image*/
.scrolling-image-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    rotate: 45deg;
    left: 350px;
    top: -400px;
    opacity: 50%;
}

.scrolling-image {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    animation: scrollDown 60s linear infinite;
}

@keyframes scrollDown {
    0% {
        top: -2025px;
    }
    100% {
        top: 1700px;
    }
}

.scrolling-image:nth-child(2) {
    animation-delay: 30s;
    top: -1800px;
}

.menu-container{
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    left: 40%;
    top: 30%;
    opacity: 90%;
    width: 250px;
    height: 250px;
}

.search-bar{
    position: fixed;
    width: 300px;
    top: 325px;
    height: 200px;
}

.mon-formulaire{
    height: 1000px;
    top: 300px;
}

/*page anime detail*/
.info-anime{
    position: fixed;
    background-color: #C4A8FF6E;
    border: 2px solid black;
    width: 475px;
    height: 525px;
    top: 135px;
    left: 900px;
    border-radius: 20px;
}

.title-anime{
    text-align: center;
    color: white;
    font-size: 30px;
    /*text-shadow: -1px -1px  black, 1px -1px  black, -1px 1px black, 1px 1px 0 black;*/
    -webkit-text-stroke: 1.5px black;
    font-weight: 700;
}

.into-info-anime{
    margin-left: 10px;
    font-weight: bold;
}

.image-anime-container{
    position: fixed;
    width: 475px;
    height: 525px;
    top: 135px;
    left: 275px;
    border: 1px solid blue;
}

/*page profile */
.info-profile{
    position: absolute;
    width: 520px;
    height: 260px;
    background-color: #C4A8FF6E;
    top: 250px;
    left: 900px;
    border-radius: 20px;
    border: 3px solid black;
}

.title-profile{
    text-align: center;
    font-size: 25px;
    /*-webkit-text-stroke: 1.5px black;*/
    font-weight: 500;
    border: 2px solid black;
    border-radius: 15px;
    width: 200px;
    margin: auto;

}
.text-profile{
    margin-left: 20px;
    font-weight: bold;
}

/*recommendation*/
.recommendation-container{
    position: absolute;
    font-family: "Joti One", serif;
    top: 700px;
    left: 915px;
    font-size: 35px;
    color: #5E0A3F;
}

.title-reco-container{
    position: absolute;
    text-align: center;
    top: 600px;
    font-size: 25px;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 15px;
    width: 310px;
    left: 1015px;
}


/*genre regardé*/
.title-gender-container{
    position: absolute;
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 15px;
    width: 260px;
    margin-left: 200px;
}
.gender-container{
    position: absolute;
    top: 350px;
    width: 400px;
    height: 400px;
    border: 1px solid black;
    left: 175px;
}
.gender-container canvas{
    width: 100%;
    height: 100%;
}

.image-recomendation{
    position:relative;
    width: 460px;
}

.image-anime-reco{
    position: relative;
    margin-top: 50px;
    margin-left: 15px;
    border: 2px solid black;
}

/*graphique note genre */
.title-note-container{
    position: absolute;
    text-align: center;
    top: 900px;
    font-size: 25px;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 15px;
    width: 350px;
    left: 200px;
}
.note-gender-container{
    position: absolute;
    left: 175px;
    top: 1000px;
    width: 400px;
    height: 400px;
    border: 1px solid black;

}

/*page statistique*/
.graph-container{
    width: 100px;

}


.graph-data{
    margin-top: 80px;
    width: 900px;
    border: 3px solid black;

}

.graph-data canvas{
    width: 100%;
    height: 100%;
}

.graph-anim{
    margin-top: 100px;
    width: 900px;
    border: 3px solid black;
}

.graph-anim canvas{
    width: 100%;
    height: 100%;
}
/*page algorithme*/

.title-gender-selec-container{
    position: absolute;
    margin-top: 45px;
    margin-left: 52px;
    color: white;
    font-size: 40px;
    -webkit-text-stroke: 1px black;
    font-weight: 700;
}

.gender-selec-container{
    position: absolute;
    background-color: #D3CCFF;
    width: 1200px;
    height: 443px;
    margin-top: 100px;
    margin-left: 50px;
    border-radius: 15px;
    border: 2px solid black;
}

.gender-algo-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.gender-algo-container{
    position: relative;
    background-color: white;
    margin-top: 25px;
    margin-left: 20px;
    font-size: 35px;
    font-weight: 700;
    border: 4px solid black;
    border-radius: 50px;
    text-align: center;
    padding: 8px;

}

.gender-algo-container:hover{
    background-color: #1E1E1E;
    color: white;
    cursor: pointer;
}

.title-image-algo-container{
    position: absolute;
    margin-top: 550px;
    margin-left: 52px;
    color: white;
    font-size: 40px;
    -webkit-text-stroke: 1px black;
    font-weight: 700;
}
.image-algo-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 600px;
    margin-left: 52px;
    width: 1200px;
    height: 443px;
    font-family: "Joti One", serif;
    font-size: 35px;
    color: #5E0A3F;
    border: 1px solid black;
}
.image-anime-algo{
    position: relative;
    top: 30px;
    margin-left: 15px;
    border-radius: 22px;
    width: 175px;
    height: 225px;
    /*word-wrap: break-word;*/

}

.text-anime-algo{
    position: relative;
    margin-top: 0px;
    word-wrap: break-word;
    width: 250px;
    height: 225px;
    font-family: "Francois One", sans-serif;


}

#send-button{
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
    align-content: center;
    position: relative;
    left: 500px;
    background-color: white;
    margin-top: 25px;
    margin-left: 20px;
    font-size: 35px;
    font-weight: 700;
    border: 4px solid black;
    border-radius: 50px;
    /*text-align: center;*/
    padding: 8px;

}

#send-button:hover{
    background-color: #1E1E1E;
    color: white;
    cursor: pointer;
}

button{
    background-color: white;
}
button.selected{
    background-color: #1E1E1E;
    color: white;
}

.modal-content{
    background-color: #1E1E1E;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.modal-body{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;

}








