@import url('https://fonts.googleapis.com/css2?family=Joti+One&display=swap');


body {
    background-color: #D2D9F9;
}


/*scrolling image*/
.scrolling-image-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    rotate: 45deg;
    left: 350px;
    top: -400px;
    opacity: 50%;
}

.scrolling-image {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    animation: scrollDown 20s linear infinite;
}

@keyframes scrollDown {
    0% {
        top: -2025px;
    }
    100% {
        top: 1700px;
    }
}

.scrolling-image:nth-child(2) {
    animation-delay: 10s;
    top: -1800px;
}

.menu-container{
    position: fixed;
    z-index: 1;
    left: 37%;
    top: 30%;
    opacity: 80%;
}

.search-bar{
    position: fixed;
    width: 300px;
    top: 325px;
    height: 200px;
}

.mon-formulaire{
    height: 1000px;
    top: 300px;
}


/*search bar*/
/*.left{

    border-top-right-radius: 32px !important;
    border-bottom-right-radius: 32px !important;
    background-color: #fff;
    height: 33px;
}



.magnifying-glass{

    border-top-left-radius: 32px !important;
    border-bottom-left-radius: 32px !important;
    background-color: #fff;

}

.input-group-prepend {
    margin-right: -2px !important;
}


.input-group-append {
    margin-left: -2px !important;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ced4da;
    outline: 0;
    box-shadow: 0 0 0 0 !important;

}

.form-control{

    border-right: 0 !important;
    border-left: 0 !important;
    height: 33px;
}
*/
/*page anime detail*/
.info-anime{
    position: fixed;
    background-color: #C4A8FF6E;
    border: 2px solid black;
    width: 475px;
    height: 525px;
    top: 135px;
    left: 900px;
    border-radius: 20px;
}

.title-anime{
    text-align: center;
    color: white;
    font-size: 30px;
    /*text-shadow: -1px -1px  black, 1px -1px  black, -1px 1px black, 1px 1px 0 black;*/
    -webkit-text-stroke: 1.5px black;
    font-weight: 700;
}

.into-info-anime{
    margin-left: 10px;
    font-weight: bold;
}

.image-anime-container{
    position: fixed;
    width: 475px;
    height: 525px;
    top: 135px;
    left: 275px;
    border: 1px solid blue;
}

/*page profile */
.info-profile{
    position: absolute;
    width: 520px;
    height: 260px;
    background-color: #C4A8FF6E;
    top: 250px;
    left: 900px;
    border-radius: 20px;
    border: 3px solid black;
}

.title-profile{
    text-align: center;
    font-size: 25px;
    /*-webkit-text-stroke: 1.5px black;*/
    font-weight: 500;
    border: 2px solid black;
    border-radius: 15px;
    width: 200px;
    margin: auto;

}
.text-profile{
    margin-left: 20px;
    font-weight: bold;
}

/*recommendation*/
.recommendation-container{
    position: absolute;
    font-family: "Joti One", serif;
    top: 700px;
    left: 915px;
    font-size: 35px;
    color: #5E0A3F;
}

.title-reco-container{
    position: absolute;
    text-align: center;
    top: 600px;
    font-size: 25px;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 15px;
    width: 310px;
    left: 1015px;
}


/*genre regardé*/
.title-gender-container{
    position: absolute;
    text-align: center;
    margin-top: 100px;
    font-size: 25px;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 15px;
    width: 260px;
    margin-left: 200px;
}
.gender-container{
    position: absolute;
    top: 350px;
    width: 400px;
    height: 400px;
    border: 1px solid black;
    left: 175px;
}

.image-recomendation{
    position:relative;
    width: 460px;
}

.image-anime-reco{
    position: relative;
    margin-top: 50px;
    margin-left: 15px;
    border: 2px solid black;
}

/*graphique note genre */
.title-note-container{
    position: absolute;
    text-align: center;
    top: 900px;
    font-size: 25px;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 15px;
    width: 350px;
    left: 200px;
}
.note-gender-container{
    position: absolute;
    left: 175px;
    top: 1000px;
    width: 400px;
    height: 400px;
    border: 1px solid black;

}

/*page statistique*/
.graph-container{
    width: 100px;
}






