{% extends 'base.html.twig' %}

{% block title %}Hello AlgorithmController!{% endblock %}

{% block body %}
 <div class="title-gender-selec-container">
     <a>Choisissez vos genres préférés (4 maximum) :</a>
 </div>

<div class="gender-selec-container">
    <div class="gender-algo-wrapper">
        {% for genre in genres %}
            <div class="gender-algo-container" ><a>{{ genre }}</a></div>
        {% endfor %}
    </div>
</div>




<div class="title-image-algo-container">
    <a>Voici nos 4 recommandations :</a>
</div>
<div class="image-algo-container">
   <a>1.</a>  <div class="text-anime-algo"> Kaguya-sama wa Kokurasetai: Tensai-tachi no Renai Zunousen </div>{#<img class="image-anime-algo" src="{{ asset('/assets/img/detail_anime_img/vertical-placeholder.jpg') }}" width="175" height="225" alt="">#}
    <a>2.</a><img class="image-anime-algo" src="{{ asset('/assets/img/detail_anime_img/vertical-placeholder.jpg') }}"  alt="">
</div>
{% endblock %}

{% block javascripts %}
    <script>


    </script>
{% endblock %}